div Invitations

//- md-list(ng-show='invitation.canInvite()')
  md-subheader.md-no-sticky Users to invite:
  md-list-item(ng-repeat='user in invitation.users | uninvited:invitation.ngModel')
    div {{ user | displayName }}
    md-button(ng-click='invitation.invite(user)') Invite
  md-list-item(ng-if='(invitation.users | uninvited:invitation.ngModel).length <= 0')
    | Everyone are already invited.
