.invitaton-modal
  height: 50%
  width: 60%

  form
    flex: 1

    md-dialog-content
      display: flex
      flex: 1
      flex-direction: row
      padding: 1rem

      .user-search
        flex: 1

      md-list-item
        .button
          margin: 10px

