[root-state^='home']
  /*.nav-bar-main
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: transparent
    font-family: 'Open Sans', sans-serif
    color: mainColor
  */

  .nav-bar-main
    position: absolute
    top: 0
    left: 0
    right: 0

    h1

      a

        img.logo

        .title-txt
          color: mainColor

    .top-menu
      a.top-menu-link
        .title-icon
          color: mainColor

        &:hover
          background-color: transparent
          text-shadow: none

    .title
      color: mainColor

    .icon
      text-shadow: none

  .nav-bar .top-menu .title-icon .icon
    text-shadow: none

  home
    .homepage-layer
      height: 500px
      background-image: url("http://static1.squarespace.com/static/55c37beae4b0336075603f86/55c3cd80e4b01531b3208f2e/5603032be4b008bd0ad4e6fb/1443279872878/?format=1500w")
