[root-state^='home']

  .nav-bar-main
    position: absolute
    top: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 100px 71px rgba(0, 0, 0, 0.16);

    h1
      a
        &:hover
          cursor: inherit

        .title-txt
          color: white

    .top-menu
      .top-menu-link
        .title-icon
          color: white

        &:hover
          background-color: transparent
          color: brand-primary

    .title, .icon
      color: white

    .icon:hover
      color: brand-primary

  .nav-bar .top-menu .title-icon .icon
    text-shadow: none

  home
    .homepage-layer
      padding: 255px 0 55px 0
      background-color: #59748F
      background-image: url('http://www.so-events.at/SYSTEM/image_background/standard/background_02.jpg')
      background-position: center center
      background-size: cover
      background-repeat: no-repeat

      h1
        font-family: "Lato", sans-serif
        font-weight: 400
        color: white
        background: rgba(0, 0, 0, 0.15) none repeat scroll 0% 0%;
        box-shadow: 0px 0px 100px 71px rgba(0, 0, 0, 0.16);

      .homepage-search-box
        display: flex
        justify-content: center
        align-items: center
        margin-top: 50px

        .grouped-form
          display: flex
          justify-content: center
          align-items: center

          .item
            flex: 1
            margin: 0

            &(:last-child)
              border-right: 0px none

          .button
            display: block
            border-radius: 0px
            font-size: 15px
            margin: 0px

          .input-with-icon
            .input-icon
              color: brand-primary

        #location
          width: 450px

    .event-locations
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-content: space-between

      .event-location
        display: flex
        flex-direction: column
        flex: 1
        max-height: 200px
        img
          flex: 1
          max-width: 300px

        p
          flex: 1

