.mapdiz-wrapper(root-state="{{ $state.current.name }}")
  .nav-bar-main.nav-bar.flex.flex-justify.flex-center
    h1
      a(ui-sref="home")
        img#logo.logo(src='assets/logo/logo.svg')
        span.title mapdiz

    .top-menu
      a.top-menu-link(ui-sref="app.events", ui-sref-active='active')
        .title-icon
          i.icon.ion-map
      a.top-menu-link(ui-sref="app.event({eventId: 'add'})", ui-sref-active='active', ng-show="$root.currentUser")
        .title-icon
          i.icon.ion-ios-plus-outline
      login.top-menu-link(mode='register')
      login.top-menu-link

  .app(ui-view='')

footer(ng-if='$state.current.name.indexOf("app") < 0')

  .container
    .footer-column
      h3 Société
      ul
        li À propos
        li Blog
        li Presse
        li Partenariat

    .footer-column
      h3 Aide
      ul
        li Aide organisateurs
        li Aide participants
        li Contact

    .footer-column
      h3 Nous suivre
      ul
        li Facebook
        li Twitter
        li Google +

  .footer-bottom
    .container
      ul
        li Mapdiz 2016
        li CGU
        li Utilisation des cookies
