.alert.alert-info(ng-hide="$root.currentUser || $root.loggingIn")
  | Connectez-vous pour créer un évenement

header(ng-show="$root.currentUser || $root.loggingIn")
  .cover-manager
    add-picture.edit-cover(picture='vm.cover')
      i.icon.ion-image
      span(ng-hide='vm.cover')  Ajouter une couverture
      span(ng-show='vm.cover')  Modifier la couverture
    a.delete-cover(href='#', ng-show='vm.cover', ng-click="vm.deleteCover()")
      i.icon.ion-trash-a
      |  Supprimer la couverture
  img.cover(ng-show='vm.cover', ng-src="{{ vm.cover }}")
  .over-cover
    .title
      h1.editable.editable-text(ng-click='editName=true', ng-show='!editName') {{ vm.newEvent.name || "Nom de l'évenement" }}
      input(type="text", ng-model="vm.newEvent.name", placeholder='Nom de l\'évenement', ng-show='editName')
      =' '
      button.validate.btn.btn-primary(ng-click='editName=false', ng-show='editName')
        i.icon.ion-checkmark
    .geoloc(position='vm.newEvent.position')
      i.icon.ion-android-locate
      span.prefix Emplacement :
      geoloc(location='vm.newEvent.position')
        span(ng-show='vm.newEvent.position.address.display')
          | {{ vm.newEvent.position.address.display }}
        span(ng-show='!vm.newEvent.position.address.display && vm.newEvent.position.lat')
          | Lat : {{ vm.newEvent.position.lat }} - Lng : {{ vm.newEvent.position.lng }}
        span(ng-hide='vm.newEvent.position.lat || vm.newEvent.position.address.display') Choisir l'emplacement
    .date
      i.icon.ion-ios-calendar-outline
      span.prefix  Début
      span.between :
      input#beginDate(
        name='beginDate',
        style="display: none"
      )
      a.date-field.editable#edit-beginDate
        | {{ vm.newEvent.beginDate ? ( vm.newEvent.beginDate | date:'dd/MM/yyyy' ) : 'Date de début' }}
      span.between à
      time-picker(ng-model='vm.newEvent.beginTime')
        | {{ vm.newEvent.beginTime ? ( vm.newEvent.beginTime | date:'H:mm' ) : 'heure de début' }}

    .date
      i.icon.ion-ios-calendar-outline
      span.prefix Fin
      span.between :
      input#endDate(
        name='endDate',
        style="display: none"
      )
      a.date-field.editable#edit-endDate  {{ vm.newEvent.endDate ? ( vm.newEvent.endDate | date:'dd/MM/yyyy' ) : 'Date de fin' }}
      span.between à
      time-picker(ng-model='vm.newEvent.endTime')  {{ vm.newEvent.endTime ? ( vm.newEvent.endTime | date:'H:mm' ) : 'heure de fin' }}

main.p2(ng-show="$root.currentUser || $root.loggingIn")

  //- Description
  section
    h3
      i.icon.ion-ios-compose-outline
      |  Description
    article
      textarea#description.block.col-12.field(ng-model="vm.newEvent.description", placeholder='Description de l\'évenement')

  label.block.col-12(for="public") Public
    input#publict(type="checkbox", ng-model="vm.newEvent.public")

  section
    {{ vm.newEvent | json }}

  button.btn.btn-primary(ng-click="vm.addEvent(vm.newEvent)") Ajouter
