// COLORS
black = #4F4F4F
mainColor = #FF5024
mainColor_dark = #CC2F22
green = #4CBD6D //#5CF96C
red = #DA6161
blue = #3AB7FF


// FONTS
@font-face
  font-family 'Novecentosanswide-Light'
  src url('../../fonts/Novecentosanswide-Light.eot')
  src url('./../fonts/Novecentosanswide-Light.eot?#iefix') format('embedded-opentype')
  url('./../fonts/Novecentosanswide-Light.woff2') format('woff2')
  url('./../fonts/Novecentosanswide-Light.woff') format('woff')
  url('./../fonts/Novecentosanswide-Light.ttf') format('truetype')

@font-face
  font-family 'Novecentosanswide-Normal'
  src url('./../fonts/Novecentosanswide-Normal.eot')
  src url('./../fonts/Novecentosanswide-Normal.eot?#iefix') format('embedded-opentype')
  url('./../fonts/Novecentosanswide-Normal.woff2') format('woff2')
  url('./../fonts/Novecentosanswide-Normal.woff') format('woff')
  url('./../fonts/Novecentosanswide-Normal.ttf') format('truetype')



body
  font-family: Novecentosanswide-Light
