header.p2
  .avatar-container
    img.avatar(src='assets/images/default-user.png', ng-show="$root.currentUser && !Profile.avatar")
    img.avatar(ng-src='{{ Profile.avatar.url("avatar-large") }}', ng-show="Profile.avatar")
    input#avatar-input(
      type="file",
      ng-show='false'
    )
    .edit-avatar-btn(ng-click='Profile.openAvatarInput()') Changer
    a(ng-click='Profile.deleteAvatar()') Supprimer ma photo
  infos.ml2.flex-auto
    h1 Mon Compte
    hr
    p Membre depuis le {{ Profile.currentUser.createdAt | date: 'dd/M/yyyy' }}
    p E-mail : {{ Profile.currentUser.emails[0].address }}

section {{ Profile.currentUser | json }} {{ Mapdiz.avatar | json }}

