header.p2
  .avatar-container
    //-avatar(
      userid='Profile.currentUser._id')
    .avatar-wrapper(ng-style="{'background-image':'url('+ Profile.getAvatarUrl() +')'}")
    input#avatar-input(
      type="file",
      ng-show='false'
    )
    .edit-avatar-btn(ng-click='Profile.openAvatarInput()', ng-if='Profile.itsMe') Changer
    a(ng-click='Profile.deleteAvatar()', ng-show='Profile.avatar && Profile.itsMe') Supprimer ma photo
  section.infos.ml2.flex-auto.selectable
    h1 {{ Profile.currentUser | displayName }}
    hr
    article.info Membre depuis le {{ Profile.currentUser.createdAt | date: 'dd/MM/yyyy' }}
    article.info#email(ng-show='Profile.currentUser.emails[0].address')
      div
        | E-mail : {{ Profile.currentUser.emails[0].address }}
        =' '
        i.fa.fa-close(ng-hide='Profile.currentUser.emails[0].verified', title='Adresse e-mail non vérifiée')
        i.fa.fa-check(ng-show='Profile.currentUser.emails[0].verified', title='Adresse e-mail vérifiée')
      a.verify-email(ng-hide='Profile.currentUser.emails[0].verified', ng-click='Profile.sendVerificationEmail()') Envoyer un e-mail de vérification
    article.info

//-section {{ Profile.currentUser | json }} {{ Mapdiz.avatar | json }}

