.app
  background-color: white

[root-state^='app']
  height: 100vh
  display: flex
  flex-direction: column

  .app
    display: flex
    flex-direction: column
    flex: 1

    app
      display: flex
      flex: 1

  main
    display: flex
    position: relative

    .toggle-map
      z-index: 999
      position: absolute
      right: 5px
      top: 5px

    .left-bar
      display: flex
      flex: 0 1 45%
      color: #727272

      .main-section
        display: flex
        background-color: white

    .main-content
      display: flex
      flex-direction: column
      flex: 1 1 0
      position: relative
      padding: 0

      map
        padding: 0

  .nav-bar-main
    display: flex
    background-color brand-primary
    color: #fff

    .top-menu-link
      &:hover, &.active
        background-color: brand-secondary
        cursor: pointer

  @media screen and (max-width: screen-sm-max)
    main
      flex-direction: column

      .left-bar
        flex: 1
        width: inherit

      .main-content
        flex: 1
        width: inherit

.gm-style-iw
  color: black
