[root-state^='app']
  main
    display: flex

    .left-bar
      display: flex
      color: #727272

      .main-section
        display: flex
        background-color: white

    .main-content
      display: flex
      position: relative
      padding: 0

      map
        padding: 0

  .nav-bar-main
    display: flex
    background-color brand-primary
    color: #fff

.gm-style-iw
  color: black
