main.flex-auto
  .left-bar.flex-column.col-5
    section.main-section.flex-auto.flex-column(ui-view='', state="{{ $state.current.name }}")
  .main-content.flex-grow.flex-column.col-7
    map.p1.flex-auto
