.mapdiz-wrapper(root-state="{{ $state.current.name }}")
  .nav-bar-main.nav-bar.flex.flex-justify.flex-center
    h1
      a(ui-sref="home")
        img.logo(src='assets/logo/logo.svg')
        .title-txt MAPDIZ

    .top-menu
      a.top-menu-link(ui-sref="app.events", ui-sref-active='active')
        .title-icon
          i.icon.ion-map
      a.top-menu-link(ui-sref="app.event({eventId: 'add'})", ui-sref-active='active', ng-show="$root.currentUser")
        .title-icon
          i.icon.ion-ios-plus-outline
      login.flex-auto
  .app(ui-view='')
