div(root-state="{{ $state.current.name }}")
  .nav-bar.flex.flex-justify.flex-center
    .flex-auto.flex
      a.title(ui-sref="home")
        h1 MAPDIZ

    .top-menu
      a.top-menu-link(ui-sref="app.events", ui-sref-active='active')
        .title-icon
          i.icon.ion-map
      a.top-menu-link(ui-sref="app.events-create", ui-sref-active='active', ng-show="$root.currentUser")
        .title-icon
          i.icon.ion-ios-plus-outline
      login.flex-auto
  .mapdiz(ui-view='', class='flex flex-auto flex-column flex-stretch')
