body
  height: 100vh
  width: 100vw
  //background-color: mainColor
  //color: white
  transition: background-color 0.5s ease 0s

  app
    display: flex
    flex-direction: column
    height: 100vh
    width: 100vw

  .mapdiz
    height: 100vh
    width: 100vw
    
.angular-date-range-picker__picker
  display: flex

  .angular-date-range-picker__month
    width: 183 !important
  .angular-date-range-picker__month-name
    width: 183 !important
