[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak
    display: none

.selectable
  user-select: text

body
  height: 100vh
  width: 100vw
  transition: background-color 0.5s ease 0s
  font-family: 'Lato', sans-serif
  font-weight: 400
  background-color: white
  user-select: none

  .mapdiz
    height: 100vh
    width: 100vw

    .mapdiz-wrapper
      height: 100vh
      width: 100vw
      display: flex
      flex-direction: column

      .app
        display: flex
        flex: 1
        flex-direction: column

        app
          display: flex
          flex: 1
          flex-direction: column


.angular-date-range-picker__picker
  display: flex

  .angular-date-range-picker__month
    width: 183 !important
  .angular-date-range-picker__month-name
    width: 183 !important

footer
  position: absolute
  bottom: 0
  width: 100%
  min-height: 50px
  background-color: dark_background


.container
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 1170px;
