[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak
    display: none

.selectable
  user-select: text


body
  transition: background-color 0.5s ease 0s
  font-family: 'Lato', sans-serif
  font-weight: 400
  background-color: white
  user-select: none

.angular-date-range-picker__picker
  display: flex

  .angular-date-range-picker__month
    width: 183 !important
  .angular-date-range-picker__month-name
    width: 183 !important

footer
  /*position: absolute
  bottom: 0*/
  //width: 100%
  min-height: 50px
  background-color: dark_background
  color: white
  
  .container
    display: flex
    padding: 30px 0px 10px
    
    .footer-column
      flex: 1