// DEPENDENCIES
@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'

// THEME
@import 'themes/themev1.import'

// COMPONENTS
@import 'components/*'

// MODULES STYLES
@import '../../app/app.import'
