//- p avatar : {{ Avatar.user._id }} /
img.profile-picture-mini(ng-src="{{ Avatar.avatar.url('avatar-small') }}", ng-show="Avatar.localUser && Avatar.avatar")
img.profile-picture-mini(ng-src='https://graph.facebook.com/{{ Avatar.localUser.services.facebook.id }}/picture/?type=small', ng-show='Avatar.localUser && Avatar.localUser.services.facebook && !Avatar.avatar ')
img.profile-picture-mini(src='assets/images/default-user.png', ng-show="Avatar.localUser && !Avatar.avatar && !Avatar.localUser.services.facebook")
