avatar
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

  img
  	max-width: inherit

  .avatar-wrapper
    background-size: cover
    background-position: center center
    background-repeat:no-repeat
