.date-range
  a(href='#', ng-click='DateRange.openDateRangeModal()', ng-transclude)
  .dialog.date-range-dialog(ng-show='DateRange.showDialog')
    mighty-datepicker(
      ng-model="DateRange.momentDate",
      options="DateRange.options",
      ng-attr-before="DateRange.mmDateBefore",
      ng-attr-after="DateRange.mmDateAfter"
    )
    .buttons
      button(ng-click='DateRange.answer(true)') Annuler
      button(ng-click='DateRange.answer()') OK
