.date-range-dialog

  .mighty-picker__holder
    position: relative

    .mighty-picker__month
      display: flex
      flex-direction: column

      .mighty-picker__month-name
        text-align: center
        padding-top: 5px
        padding-bottom: 5px

      .mighty-picker-calendar

        .mighty-picker-calendar__day
          border: 1px solid #E4E7E7
          text-align: center

    .mighty-picker__prev-month
      //@extends .ui.button
      position: absolute
      top: 5px
      left: 5px
      margin: 0
      border: none

    .mighty-picker__next-month
      //@extends .ui.button
      position: absolute
      top: 5px
      right: 5px
      margin: 0
      border: none
