
.login-menu
  position: relative
  min-width: 50px
  min-height: 50px
  max-height: 50px
  padding: 0 20px
  display: flex

  &:hover, &.active
    cursor: pointer

  .title-icon
    display: inline
    vertical-align: middle
    font-size: 1.6em

  .title
    display: inline
    vertical-align: middle
    font-size: 1em
    font-weight: bold
    padding: 0

    &:hover
      cursor: pointer

  avatar
    img
      top: 50%
      width: 30px
      height: 30px
      margin: 10px 10px 10px 0
      border-radius: 15px

  .login-popup
    position: absolute
    top: 50px
    right: -50px
    margin-top: 10px
    z-index: 2
    width: 300px
    text-align: left
    font-size: 100%
    line-height: normal
    color: #000

    .input
      margin-bottom: 15px

    .login-actions
      display: flex
      flex-direction: column

      .button
        margin-right: 0
        margin-left: 0
        margin-bottom: 0

    &:after, &:before
      bottom: 100%
      left: 50%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none

    &:after
      border-color: rgba(136, 183, 213, 0)
      border-bottom-color: #fff
      border-width: 10px
      margin-left: 40px

    &:before
      border-color: rgba(194, 225, 245, 0)
      border-bottom-color: rgba(0,0,0,.125)
      border-width: 11px
      margin-left: 39px

    h2
      margin: 0
      text-align: center

    .or
      text-align: center
      margin-bottom: 10px

      a
        font-weight: bold
