.login-menu
  min-width: 50px
  min-height: 50px
  max-height: 50px
  padding: 0 20px
  display: flex

  &:hover, &.active
    cursor: pointer

  .title-icon
    display: inline
    vertical-align: middle
    font-size: 1.6em

  .title
    display: inline
    vertical-align: middle
    font-size: 1em
    font-weight: bold
    padding: 0

  .create-account
    color: #00AFFC

    &:hover
      cursor: pointer

.profile-picture-mini
  top: 50%
  width: 30px
  height: 30px
  margin: 10px 10px 10px 0
  border-radius: 15px
  -webkit-border-radius: 15px
  -moz-border-radius: 25px
