.login-menu
  position: relative
  min-width: 50px
  min-height: 50px
  max-height: 50px
  padding: 0 20px

  &:hover, &.active
    cursor: pointer
    background-color: brand-secondary

    .title
      text-decoration: underline !important

  .title-icon
    display: inline
    vertical-align: middle
    font-size: 1.6em

  .title
    display: inline
    vertical-align: middle
    font-size: 1em
    font-weight: bold
    padding: 0

  .create-account
    color: #00AFFC

    &:hover
      cursor: pointer

