.set-geoloc-modal
  color: #000

  h3
    text-align: center

  .location-selectors-wrapper
    user-select: none;
    .tabs
      display: flex
      .tab
        padding: 10px
        margin-right: 2px
        &:hover
          cursor: pointer
        &.active
          background-color: mainColor
          color: #fff

    .location-selectors
      height: 150px
      background-color: mainColor
