md-dialog.set-geoloc-modal
  md-toolbar
    .md-toolbar-tools
      h2 Emplacement
  md-dialog-content.p2
    p Pour définir l'emplacement de votre évenement vous pouvez déplacez marqueur (
      =' '
      i.icon.ion-location
      |   ) ou utiliser une autre méthode ci-dessous : {{ geolocChoiceType }} - {{ location }}
    .location-selectors-wrapper.mt2.mb2
      .tabs
        .tab(ng-click='geolocChoiceType="address"', ng-class="{'active': geolocChoiceType == 'address'}") Adresse
        .tab(ng-click='geolocChoiceType="coordinates"', ng-class="{'active': geolocChoiceType == 'coordinates'}") Coordonnées
      .location-selectors.p2
        .location-selector(ng-show='geolocChoiceType == "address"')
          label.white(for='address') Adresse
          input#address.block.col-12.field(
            type='text',
            ng-change='placeObjToLocation(placesObj)',
            autocomplete='off',
            g-places-autocomplete,
            ng-model='placesObj'
          )
          p.white(ng-bind-html='location.address.html')
          //- input#address.block.col-12.field(type="number", ng-model="address", )
        .location-selector(ng-show='geolocChoiceType == "coordinates"')
          label.white(for="latInput") Latitude
          input#latInput.block.col-12.field(type="text", ng-model="location.lat")
          label.white(for="lngInput") Longitude
          input#lngInput.block.col-12.field(type="text", ng-model="location.lng")

  .md-actions(layout='row')
    span(flex='')
    md-button.md-primary(ng-click='answer(location)', ng-disabled='!location')
      | Ajouter emplacement
    md-button.md-warn(ng-click='answer()')
      | Annuler
