.btn[type='submit']
  background-color: green
  &.btn-center
    display: block
    margin-top: 10px
    margin-right: auto
    margin-left: auto 
  
.btns
  &.btns-center
    display: flex
    justify-content: space-between
    margin-top: 10px