.dialog
  position: absolute
  display: flex
  flex-direction: column
  z-index: 4
  background-color: #fff
  color: black
  border-width: 1px
  border-style: solid
  border-color: #CCC #CCC #BBB
  border-radius: 3px
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5)
  color: black
  padding: 10px

  .mighty-picker__month
    display: flex
    flex-direction: column

    .mighty-picker__month-name
      text-align: center
      padding-top: 5px
      padding-bottom: 5px

    .mighty-picker-calendar

      .mighty-picker-calendar__day
        border: 1px solid #E4E7E7
        text-align: center

  .mighty-picker__prev-month
    @extends .button
    //@extends .button.button-small
    position: absolute
    top: 5px
    left: 5px
    margin: 0
    border: none

  .mighty-picker__next-month
    @extends .button
    //@extends .button.button-small
    position: absolute
    top: 5px
    right: 5px
    margin: 0
    border: none

  .buttons
    display: flex
    margin: 10px 0

  button
    @extends .button
    //@extends .button.button-small
    //@extends .button.button-primary
    flex: 1
    margin: 0 5px

    &:first-child
      margin-left: 5px

    &:last-child
      margin-right: 5px


/*
.dialog-btn
  @extends .button
  @extends .button.button-small
  @extends .button.button-primary
  position: absolute
  top: 5

.mighty-picker__prev-month
  @extends .dialog-btn
  left: 5

.mighty-picker__next-month
  @extends .dialog-btn
  right: 5px
*/
