.unverified-email
  color: rgb(90, 98, 114)
  text-align: center
  margin: 20px

  h2
    margin-bottom: 20px

  i.fa
    font-size: 70px
    margin-bottom: 20px
    display: block
    
  button.ui.button.primary
    margin-top: 20px

.info-message
  color: green

.error-message
  color: red
