.gm-style-iw
  //width: 200px !important
  top: 15px !important
  //left: 0px !important
  background-color: #fff
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6)
  
  & ~ div
    display: none

.info-window
  overflow: auto

  .cover
    width: 100%
    height: auto

  .info-window-content
    h4
      margin-top: 0
