.gm-style-iw
  width: 250px !important
  top: 15px !important
  background-color: #fff
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6)
  border: 1px solid alpha(mainColor, 0.6)
  border-radius: 2px

  & ~ div
    opacity: 1 !important
    right: 37px !important
    top: 16px !important

.info-window
  overflow: auto

  .cover
    width: 100%
    height: auto

  .info-window-content
    max-height: 60px
    margin-top: -5px
    padding: 1rem
    overflow-y: auto
    overflow-x: hidden

    h4
      text-align: center
      margin: 0

    .description
      margin-top: 10px
      margin-left: 0
      margin-right: 0
      text-overflow: ellipsis
      word-break: break-all

    .iw-bottom-gradient
      position: absolute
      left: 0
      height: 30px
      bottom: 0
      right: 1rem
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
