mentio-menu

  .dropdown-menu
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    list-style: outside none none;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;

    & > li > a
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857;
      color: #333;
      white-space: nowrap;

    & > .active > a
      color: #FFF;
      text-decoration: none;
      outline: 0px none;
      background-color: brand-primary

  .scrollable-menu
    height: auto;
    max-height: 300px;
    overflow: auto;
