.popup
  z-index: 9
  position: fixed !important
  top: 150px !important
  right: initial !important
  max-width: 240px !important
  height: 100%;

  margin: 0 auto;

  text-align: left
  font-size: 100%
  line-height: normal

  background-color: white
  color: #000


md-toolbar
  background-color: brand-secondary !important
