.posts
  max-width: inherit
  margin: 0
  
  .post
    margin-top: 1em
    padding: 10px
    display: flex
    
    .content
      flex: 1
      
      .author
        font-size: 1.1em
        color: rgba(0, 0, 0, 0.87);
        font-weight: bold;
        
      h3
        margin: 10px 0px
        font-size: 1.2em
        
      footer
        margin-top: 10px
        
    .votes
      width: 25px
      height: 70px
      display: flex
      flex-direction: column
            
      .vote, .score
        display: flex
        flex: 1
        align-items: center
        justify-content: center
        
        .icon
          margin: 0
        
      .vote:hover
        cursor: pointer
        transform: scale(1.5)
        
      .vote.current
        transform: scale(1.5)
        
        &.up
          color: green
          
        &.down
          color: red
    
    h3
      margin: 0

  form
    .title
      margin-bottom: 10px